{% extends 'companyhome.html' %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    $("#dd").focus();
    });
</script>
<form method="post" action="interviewadding">
  {% csrf_token %}
  <table id="customersnob">
    <tr><td>Place</td><td>:<input type="text" name="place" placeholder="Give a place for the applicant " id="dd"></td></tr>
    <tr><td>Date</td><td>:<input type="date" name="date"></td></tr>
    <tr><td>Time</td><td>:<select name="time">
      <option>Pls select A Better Time for interview</option>
      <option value="9am To 12:30pm">9am To 12:30pm</option>
      <option value="1:30pm To 5:30pm">1:30pm To 5:30pm</option>
    </select></td></tr>
    <tr><td colspan="2"><input type="submit" value="Send Invitation" class="button button2"></td></tr>
  </table>
</form>

{% endblock %}