{% extends 'applcanthome.html' %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    window.location.hash="#dd";
    });
</script>
<body align="center" marginheight="250">
<div id="dd"></div>

Do You Have Any Experiance..?<a href="/exprnaddpg"> <input type="button"  value="Yes" class="button button2"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exptoapplicanthome"> <input type="button"  value="No" class="button button2"></a>
</body>
{% endblock %}